.page-map .centered{width:100%}
.page-map .centered #content{
  width:100%;
  background-color:#2D2D2D;
}

/* MAP PREVIEW */
/*#gmap-preview #preview{float:right;}*/
/*#gmap-preview .coordinates{float:left; display:inline;}*/
#gmap-preview #gmap{width:350px; height:250px;}
/*#gmap-preview a{float:left;}*/

#map_wrapper {position:relative; height:80%; width:100%;display:block;}
#map_canvas {height: 1000px; width:80%; float:left;}



/*#map_options {position:relative; height:750px; width:15%;background-color: #0B0D12;clear:none;float:right;}*/
#map_options {position:relative; height:auto; width:100%;background-color: white;clear:none;float:right;}
#map_options h2{background-color:white;display:block;padding:10px;}
#map_options .block{
  padding:8px;
  color:whitesmoke;
  display:inline-block;
  height:auto;
  clear:none;
}

#zipcodesearchform{
  display:inline-block;
  padding:10px;
}

.block{clear:both;}

.padded{padding:10px !important;}
.ui-slider-range{height:20px;display:inline-block;position:absolute;}
.ui-slider-handle{height:28px;display:inline-block;position:absolute;width:5px;top:-4px;}
.ui-widget-header{height:20px;}
.ui-widget-content{height:22px; position:relative;}


/********** INFOWINDOW **********/
.infoBubble{

}
.infotext{
  color: #fff;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 10px 4px 10px;
}

/*********** LISTING ********/
#map_listing{
  display:inline-block;
  padding:0;
  width:20%;
}
#map_listing li{
  background-color:#2D2D2D;
  color:white;
  display:none;
  padding:10px 8px;
}

#map_listing li.active{
 display:block;
}

/*   TIMELINE */
#map_timeline{
  display:inline;

  width:40px;
}
#map_timeline ul{
  background-color:whitesmoke;
  list-style-type:none;
}
#map_timeline ul li{
  padding:8px 4px;
  display:block;
}
#map_timeline ul li.active{
  background-color:#DDD;
}
