/* MAP PREVIEW */
#gmap-preview #gmap{width:350px; height:250px;}

#map_wrapper {height:80%; width:100%;display:block;}
#map_canvas {height: 600px; width:600px;}

#zipcodesearchform{
  display:inline-block;
  padding:10px;
}

.block{clear:both;}

.padded{padding:10px !important;}
.ui-slider-range{height:20px;display:inline-block;position:absolute;}
.ui-slider-handle{height:28px;display:inline-block;position:absolute;width:5px;top:-4px;}
.ui-widget-header{height:20px;}
.ui-widget-content{height:22px; position:relative;}


/********** INFOWINDOW **********/
.infoBubble{

}
.infotext{
  text-shadow: 0 -1px 0 #000;
  color: #fff;
  font-family: Helvetica Neue, Helvetica, arial;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 15px 4px 15px;
}
.infodetails{
  border:1px solid green;
}
.infotext span{
  display:block;
}

